/* Specific to DrivePad. */
#app-header {margin:0;padding:0;}
/* REMINDER: border-radius must always be half of height/width */
#circle {
    height:280px;width:280px;border-radius:140px;
    background-color:#2222ee;
}
